[run]
# Measure branch coverage (in addition to entire statements)
branch = True

[report]
exclude_lines =
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    */concepts.py
